.products {
  padding: 40px;
  text-align: center;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin-top: 30px;
}

.product-card {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
}

.product-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.product-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

button {
  background-color: #56ccf2;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}
