.contact-container {
  max-width: 400px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  text-align: center;
}

.contact-container h2 {
  margin-bottom: 20px;
  color: #333;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap:2rem;

}

.contact-form label {
  text-align: left;
  font-weight: 600;
  color: #444;
}

.contact-form input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  transition: 0.3s;
}

.contact-form input:focus {
  border-color: #4f46e5;
  box-shadow: 0 0 5px rgba(79, 70, 229, 0.4);
}

.contact-form button {
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background-color: #4f46e5;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form button:hover {
  background-color: #3730a3;
}