.footer{
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #56CCF2;
  color:white;
  box-shadow: 0 4px 8px #56CCF2;
  width: 100%;
 
}
.footer-title{
  text-align: center;
  font-size:2.5rem;
  font-weight: bold;
  margin-top: 1rem;
}
.footer ul{
  display: flex;
  font-size:1.5rem;
  font-weight: 200;
  justify-content: center;
  list-style-type: none;
  top: 0%;
  width: 100%;
  z-index: 1;
  padding: 10px;
  gap: 1.5rem; 
}